<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RESTful Web Services for adding records</title>
    </head>
    <body>
        <h1>Display Records</h1>
        <table border="1">
            <thead>
                <tr>
                    {% for col in colnames %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    {% for col in colnames %}
                    <td>{{ record[col] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>